@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

[data-button-root] {
	@apply rounded transition hover:brightness-110 focus:outline-none;
}

[data-button-root].btn-small {
	@apply px-3 py-0.5;
}

[data-avatar-root] {
	@apply h-8 w-8 *:rounded-full;
}

[data-popover-content] {
	@apply rounded-md p-4 shadow-md;
}

[data-separator-root] {
	@apply border-[1px] border-t border-surface0;
}
